<h1>Cadastro de Usuário</h1>


<form action="/users/create" method="POST">
    <div class="form-control">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Digite o nome do usuario: ">
    </div>

    <div class="form-control">
        <label for="occupation">Ocupação: </label>
        <input type="text" name="occupation" placeholder="Digite a sua ocupação:">
    </div>
     <div class="form-control">
        <label for="newsletter">Enviar Promoção</label>
        <input type="checkbox" name="newsletter" checked>
        <BR></BR>
        <input type="submit" name="envia" value="Cadastrar "> 
    </div>

</form>
